<ion-grid class="ion-margin">
  <ion-row >
    <ion-col *ngIf="user">
      <h1 class="ion-text-center"> Hi {{user.name}}</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="updateUser()" color="success" expand="block">
        Update user
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="deleteUser()" color="danger" expand="block">
        Delete user
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="logOut()" expand="block">
        <ion-icon name="log-out"></ion-icon>
        Log out
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>