<ion-header>
  <ion-toolbar>
    <ion-title>profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
    <ion-list>

      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input inputmode="text" #username="ngModel" required="true" name="username"
          [(ngModel)]="authRequest.username"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input inputmode="text" #password="ngModel" required="true" type="password" name="password"
          [(ngModel)]="authRequest.password"></ion-input>
      </ion-item>
    </ion-list>

  </form> -->
 
    <ion-button (click)="updateUser()" color="success">
      Update user
    </ion-button> 

    <ion-button (click)="logOut()">
      <ion-icon name="log-out"></ion-icon>
    </ion-button>

    <ion-button (click)="deleteUser()" color="danger">
<!-- <ion-icon name="close-circle-outline"></ion-icon> -->      
      Delete user
    </ion-button>

</ion-content>
