<ion-grid class="ion-margin">
  <ion-row style="margin-top: 50vw;"> 
    <ion-col >
      <h1>Update profil</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <form #editUserForm="ngForm" (submit)="onSubmit(editUserForm)">
        <ion-list>

          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input inputmode="text" required="true" name="username" [(ngModel)]="editUser.name"> </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input inputmode="text" required="true" [(ngModel)]="editUser.password" name="password"></ion-input>
          </ion-item>

          <ion-button type="submit" expand="block">Submit</ion-button>

        </ion-list>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>