<ion-grid class="ion-margin">
  <ion-row>
    <ion-col>
      <ion-button routerLink="/home">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="tripTitle != ''">
    <ion-col class="ion-text-center">
      <h1>{{tripTitle}}</h1>
      <ion-button (click)="redirectCreatePlace(tripTitle)">Ajouter un lieu</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-margin-top">
    <ion-col size="2">
      <ion-button class="icon-button" size="small">
        <ion-icon name="restaurant-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button class="icon-button" size="small">
        <ion-icon name="beer-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button class="icon-button" size="small">
        <ion-icon name="business-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button class="icon-button" size="small">
        <ion-icon name="color-palette-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button class="icon-button" size="small">
        <ion-icon name="happy-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button class="icon-button" size="small">
        <ion-icon name="shirt-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>