<ion-grid>
  <ion-row>
    <ion-col class="ion-align-self-center">
      <ion-button>Ajouter un lieu</ion-button>
    </ion-col>
  </ion-row>
  <ion-row> 
    <ion-col>
      <ion-icon name="restaurant-outline" size="large"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-icon name="beer-outline" size="large"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-icon name="business-outline" size="large"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-icon name="color-palette-outline" size="large"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-icon name="happy-outline" size="large"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-icon name="shirt-outline" size="large"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>
