<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="6.7">
      <ion-button>Ajouter un lieu</ion-button>
    </ion-col>
  </ion-row>
  <ion-row> 
    <ion-col size="2">
      <ion-button class="icon-button">
        <ion-icon name="restaurant-outline" size="large"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button class="icon-button">
        <ion-icon name="beer-outline" size="large"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button class="icon-button">
        <ion-icon name="business-outline" size="large"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button class="icon-button">
        <ion-icon name="color-palette-outline" size="large"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button class="icon-button">
        <ion-icon name="happy-outline" size="large"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button class="icon-button">
        <ion-icon name="shirt-outline" size="large"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
