<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-button routerLink="/home" slot="start">
      <ion-title>
        Travellog
      </ion-title>
    </ion-button>

    <ion-button *ngIf="!isLoginLayout" routerLink="/profil" slot="end">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ng-container *ngIf="mapOptions">
  <div class="map-blur" leaflet [leafletOptions]="mapOptions" *ngIf="!isMapLayout" [(leafletCenter)]="mapCenter" (leafletMapReady)="onMapReady($event)"></div>
  <div class="map" leaflet [leafletOptions]="mapOptions" [leafletLayers]="mapMarkers" *ngIf="isMapLayout" [(leafletCenter)]="mapCenter" (leafletMapReady)="onMapReady($event)"></div>
</ng-container>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="main"  *ngIf="isLoginLayout">
    <ion-router-outlet></ion-router-outlet>
  </div>

  <div class="white-square" *ngIf="!isLoginLayout && !isMapLayout">
    <ion-router-outlet></ion-router-outlet>
  </div>

  <div class="white-square-map" *ngIf="isMapLayout">
    <ion-router-outlet></ion-router-outlet>
  </div>

</ion-content>

