@font-face {   
    font-family: 'Poppins';   
    src: url('/travel-log/src/assets/font/Poppins-Regular.ttf');
  }

  ion-content{ 
    font-family:Poppins !important;
    height: 100vw;
  }

.main {
    background-color: white;
    border-radius: 20px;
    height: 100px;
}