@font-face {   
    font-family: 'Poppins';   
    src: url('/travel-log/src/assets/font/Poppins-Regular.ttf');
  }

  ion-content{ 
    font-family:Poppins !important;
  }

  .white-square {
    background-color: white;
    height: 160vw;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100vw;
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .white-square-map {
    background-color: white;
    height: 65vw;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100vw;
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
.main {
    background-color: transparent;
    border-radius: 20px;
    height: 100px;
}

.map-blur {
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  filter: blur(15px);
}

.map {
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

ion-toolbar {
  padding-left: 16px;
  padding-right: 16px;
}


