<ion-header>
  <ion-toolbar>

    <ion-button routerLink="/home" slot="start">
      <ion-title>
        <ion-img [src]=""></ion-img>
      </ion-title>
    </ion-button>

    <ion-button *ngIf="!isLoginLayout" routerLink="/profil" slot="end">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<div class="map" leaflet [leafletOptions]="mapOptions"></div>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="main">
    <router-outlet></router-outlet>
  </div>

  <div class="white-square" *ngIf="!isLoginLayout"></div>

</ion-content>

