<ion-grid class="ion-margin">
    <ion-row>
        <ion-col>
            <ion-searchbar></ion-searchbar>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-button routerLink="/create-trip" color="primary" size="large" expand="block">Create trip</ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <h2> Last trips :</h2>
        </ion-col>
    </ion-row>
    <ion-row *ngFor="let trip of trips">
        <ion-col>
            <h3 (click)="redirectMap(trip.title)">
                <ion-icon name="navigate"></ion-icon>{{trip.title}}
            </h3>
        </ion-col>
        <ion-col size="2">
            <ion-button [routerLink]="['/edit-trip', trip.id]"><ion-icon name="create"></ion-icon></ion-button>
        </ion-col>
        <ion-col size="2">
            <ion-button (click)="deleteTrip(trip.id)"><ion-icon name="trash"></ion-icon></ion-button>
        </ion-col>
    </ion-row>
</ion-grid>