<ion-grid>
    <ion-row>
        <ion-col>
            <ion-searchbar></ion-searchbar>
        </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">   
        <ion-col size="7.5">
            <ion-button routerLink="/create-trip" color="primary" size="large">Create trip</ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-list>
                <ion-list-header> Last trips </ion-list-header>
                <ion-item>
                    <div *ngFor="let trip of trips">
                        <div>{{trip.title}}</div>
                        <div>{{trip.description}}</div>
                        <div>{{trip.placesCount}}</div>
                    </div> 
                </ion-item>
              </ion-list>
        </ion-col>   
    </ion-row>
</ion-grid>





