<ion-header>
  <ion-toolbar>
    <ion-title>create-place</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<h1>Create a place</h1>
<form #createTripForm="ngForm" (submit)="onSubmit(createPlaceForm)">
  <ion-list>
    <!-- title input -->
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input inputmode="text" required="true" name="title" [(ngModel)]="createPlace.name"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input inputmode="text"  required="true" name="description" [(ngModel)]="createPlace.description"></ion-input>
    </ion-item>

    <ion-button (click)="takePicture()">Take picture</ion-button>
    <img *ngIf="picture" [src]="picture.url" />

    <ion-radio-group>
      <ion-list-header>
        <ion-label>Catégorie</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon name="restaurant-outline"></ion-icon>
        <ion-label>Restaurants</ion-label>
        <ion-radio slot="start" value="restaurants"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-icon name="beer-outline"></ion-icon>
        <ion-label>Bars</ion-label>
        <ion-radio slot="start" value="bars"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-icon name="business-outline"></ion-icon>
        <ion-label>Culture</ion-label>
        <ion-radio slot="start" value="culture"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-icon name="color-palette-outline"></ion-icon>
        <ion-label>Art</ion-label>
        <ion-radio slot="start" value="art"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-icon name="happy-outline"></ion-icon>
        <ion-label>Entertainment</ion-label>
        <ion-radio slot="start" value="entertainment"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-icon name="shirt-outline"></ion-icon>
        <ion-label>Shopping</ion-label>
        <ion-radio slot="start" value="shopping"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-button type="submit" expand="block">Submit</ion-button>

    <!-- Error message displayed if the password is invalid
    <ion-item lines="none" *ngIf="description.invalid && description.touched">
      <ion-text color="danger">Description is required.</ion-text>
    </ion-item>
     -->
  </ion-list>
</form>

</ion-content>

